<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42309991239-ka2ddb5mmk0olmvqdsmgr9msrbc0kqbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42309991239-ka2ddb5mmk0olmvqdsmgr9msrbc0kqbq</string>
	<key>API_KEY</key>
	<string>AIzaSyAZFEbkU7qhn4Owc_D1prgqhQFXmMnbGg4</string>
	<key>GCM_SENDER_ID</key>
	<string>42309991239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qizo.job.que.qizoJobQue</string>
	<key>PROJECT_ID</key>
	<string>qizojobque</string>
	<key>STORAGE_BUCKET</key>
	<string>qizojobque.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42309991239:ios:0d522a9da417cbc8ddea62</string>
</dict>
</plist>